section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;

  /* ↓↓↓ Added margin, padding, and border. */
  margin: 13px;
  padding: 25px;
  border: 10px solid #000d85;
}
